.orderReviewBody {
  margin: 50px 0;
}

/* For Left Cart Product Section */
.orderReviewCartBody {
  padding-top: 20px;
  border-radius: 10px;
}
.orderReviewCartBodyHeading {
  padding-left: 15px;
  border-bottom: 1px solid #d9d9d9;
}

.orderReviewCartBodyMain {
  padding: 20px 5px;
}

.cartBodyMain {
  background-color: #ffd2793a;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.cartBody {
  padding: 10px;
  display: flex;
}
.cartBody span {
  margin: auto;
}
.CartQuantity {
  display: flex;
}
.incDec {
  background-color: var(--yellow) !important;
  color: var(--blue);
  border-radius: 0;
  border: 1px solid var(--yellow);
}
.incDec:hover {
  background-color: var(--blue) !important;
}
.incDec i {
  font-weight: bold !important;
  color: #000000 !important;
  font-size: 20px;
}
.incDec:hover.incDec i {
  color: var(--yellow) !important;
}
.CartQntInput {
  border-radius: 0;
  width: 50px;
  height: 35px;
  background-color: #fff !important;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid var(--yellow);
}
.productImageCart img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.CartProductName {
  color: var(--blue);
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.CartProductSKU {
  font-weight: normal;
  color: var(--blue);
  font-size: 14px;
}
.productDelete i {
  font-size: 22px;
  cursor: pointer;
  color: #ff0000;
}
.productDelete i:hover {
  font-size: 25px;
}

.CartProductPriceOld {
  color: #ff0000;
  font-size: 16px;
}

/* For Right Subtotal Section */
.orderReviewSubtotalBody {
  margin-top: 85px;
}
.subtotalBody {
  background-color: #c0c0c00a;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 10px;
  font-weight: bold;
  border-radius: 10px;
}
.text {
  font-weight: normal;
}

.subtotalQuotation {
  margin-top: 20px;
  color: #008000;
  font-size: 12px;
  text-align: center;
}
.checkoutButton {
  text-transform: uppercase;
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
}

.couponForm {
  background-color: #c0c0c00a;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  border-radius: 10px;
}
.couponCodeInput {
  border: none;
  background-color: #c0c0c00a;
  padding-left: 0 !important;
}
.CouponCode td {
  display: flex;
  width: 100%;
}

.CouponCode td * {
  border-radius: 0 !important;
}
.afterCouponApplied {
  text-align: center !important;
  font-size: 25px;
}
.afterCouponApplied s {
  color: #ff0000;
  margin-right: 15px;
}

.weightWarning {
  color: #ff0000;
  font-size: 12px;
}
.weightWarning i {
  font-size: 20px;
}
.emptyCart {
  margin: 0 !important;
  padding: 20px 0 !important;
  background-color: #ef5350;
  color: var(--white);
}
/* for Responsive */
@media only screen and (max-width: 900px) {
  .cartBody span {
    display: inline-block;
  }

  .cartBody span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .CartProductName {
    flex-direction: column;
    margin-top: 10px !important;
  }
  .CartProductPrice {
    flex-direction: column;
  }
  .productQuantityButton {
    margin: 10px 0 !important;
  }
  .CartQntInput {
    width: 100%;
  }
  .productImageCart img {
    width: 100%;
  }
}
