.addProductPage {
  padding-left: 10px;
}
.addProductPage .sidebar {
  background-color: var(--blue) !important;
  height: 110vh;
  padding: 0;
}
.addProductPage .sidebar li a {
  color: var(--yellow);
  text-align: left;
  text-transform: capitalize;
  border-radius: 0 !important;
}
.addProductPage .sidebar li a:hover,
.addProductPage .sidebar li a.active {
  background-color: var(--yellow) !important;
  color: var(--blue);
  border-bottom: 1px solid var(--blue) !important;
}

.addProductBody {
  overflow-x: hidden !important;
}
.addProductBody .compress {
  border: 2px solid var(--blue) !important;
}
.addProductBody .compress:hover {
  background-color: #e6e6e6 !important;
}

.removeSize {
  border-bottom: 1px solid var(--yellow) !important;
}
.colorPicker {
  height: 40px !important;
}
.fullDescription {
  height: 150px;
  display: flex !important;
  flex-direction: column !important;
  background-color: #fff;
}
