.main-box-forgotPassword {
  margin: auto;
  height: 350px;
  width: 450px;
  margin-top: 80px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: border-box;
}

.email-logo {
  background-color: var(--blue);
  color: var(--yellow);
}

.login-btn-forgotPassword {
  color: var(--blue);
  font-size: 15px;
  height: 40px;
  border: none;
  width: 350px;
  border-radius: 5px;
  background-color: var(--yellow);
  font-weight: 600;
}

.forgotPassword-login-text {
  text-decoration: none;
  font-weight: 700;
}

.forgotPassword-login-text:hover {
  color: var(--yellow);
}

.login-btn-forgotPassword:hover {
  background-color: var(--blue);
  color: var(--yellow);
}

@media screen and (max-width: 600px) {
  .main-box-forgotPassword {
    width: 350px;
  }
  .login-btn-forgotPassword {
    width: 250px;
  }
}
